<%- include('layout/header')  %>

<div class="container pt-6">
    <div class="card shadow pt-4 px-4 w-75 mx-auto my-auto bg-secondary">
        <div class="card-header bg-custom text-black">
            <h3>Add New Listing</h3>
        </div>
        <div class="card-body p-4">
            <form action="/listing/admin/add-list" method="post" id="add-form">
                <div class="mb-3">
                    <label for="name" class="fw-bold">Name</label>
                    <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter name" required />
                </div>
                <div class="mb-3">
                    <label for="longitude" class="fw-bold">Longitude</label>
                    <input type="text" name="longitude" class="form-control form-control-lg" placeholder="Enter longitude" required>
                </div>
                <div class="mb-3">
                    <label for="latitude" class="fw-bold">Latitude</label>
                    <input type="text" name="latitude" class="form-control form-control-lg" placeholder="Enter latitude" required>
                </div>
                <div class="mt-2 text-center">
                    <input type="submit" name="submit" value="Add to list!" class="btn btn-success btn-padding rounded-30 w-25 btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>

    
<%- include('layout/footer') %>